<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    <title>Brite Bikes | Login</title>
    <link rel="stylesheet" type="text/css" href="styles/main.min.css"/>
  </head>
  <body>
    <div class="background-image">
      <img src="images/logoLarge.png" />
    </div>
    <div class="grid vert-align">
      <div class="row">
        <div class="col col-12-of-12 center">
          <h1>BR<span><img src="images/titleImg.png"/></span>TE BIKES</h1>
          <h2>Login</h2>
          <% if (message.length > 0) { %>
              <div class="alert">
                <p><%= message %></p>
              </div>
          <% } %>
        </div>
      </div>
      <div class="row">
        <div class="col col-12-of-12 center">
          <form class="login" method="post" action="/login">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-item" name="username" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-item" name="password" />
            </div>
            <button class="btn-wide">Login</button>
            <a href="/signup">Need an account?</a>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      window.scrollTo(0,1);
    </script>
  </body>
</html>
