<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    <title>Brite Bikes | Profile</title>
    <link rel="stylesheet" type="text/css" href="styles/main.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="scripts/slideout.min.js"></script>
  </head>
  <body>
    <div id="slideout">
      <div class="side-nav">
        <header>
          <p class="light-styles">Brite Bikes</p>
        </header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/cycle">Cycle</a></li>
          <li><a href="/dangers">Potholes</a></li>
          <li><a href="/trending">Trending</a></li>
          <li><a href="/friends">Friends</a></li>
          <li><a href="/social">Social</a></li>
        </ul>
      </div>
    </div>
    <nav class="main-nav">
      <div class="nav-button">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <h1>Brite Bikes</h1>
    </nav>
    <div class="wrapper" id="panel">
      <div class="background-image">
        <img src="images/logoLarge.png" />
      </div>
      <div class="main home">
        <div class="grid">
          <div class="row">
            <div class="col col-3-of-4 center">
              <img class="img-large" src="images/icons/profile.png"/>
              <h2>Profile</h2>
              <p>Username: <%= user.local.username %></p>
              <p>Age: 18</p>
              <h3>Total Miles Cycles:</h3>
              <p class="text-colour">120 Miles</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
