<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Brite Bikes | BriteSites</title>
    <link rel="stylesheet" type="text/css" href="styles/main.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="scripts/slideout.min.js"></script>
  </head>
  <body>
    <div id="slideout">
      <div class="side-nav">
        <header>
          <p class="light-styles">Brite Bikes</p>
        </header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/cycle">Cycle</a></li>
          <li><a href="/dangers">Dangers</a></li>
          <li><a href="/rides">Rides</a></li>
          <li><a href="/chat">Chat</a></li>
          <li class="active"><a href="/briteSites">BriteSites</a></li>
        </ul>
      </div>
    </div>
    <nav class="main-nav">
      <div class="nav-button">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <h1>Brite Bikes</h1>
    </nav>
    <div class="wrapper" id="panel">
      <div class="main">
        <div class="top-section grid">
          <h2><img src="images/icons/social.png"/>BriteSites</h2>
          <div class="subheading">
            <h3>Near You</h3>
          </div>
        </div>
        <div class="grid gallery">
          <div class="row">
            <div class="col col-4-of-12">
              <a href="images/briteSites/1.jpg" data-lightbox="image-1">
                <img src="images/briteSites/1Thumb.jpg" />
              </a>
            </div>
            <div class="col col-4-of-12">
              <a href="images/briteSites/2.jpg" data-lightbox="image-2">
                <img src="images/briteSites/2Thumb.jpg" />
              </a>
            </div>
            <div class="col col-4-of-12">
              <a href="images/briteSites/3.jpg" data-lightbox="image-3">
                <img src="images/briteSites/3Thumb.jpg" />
              </a>
            </div>
          </div>
          <div class="row">
            <div class="subheading" style="margin-top: -10px;">
              <h3>Most recent</h3>
            </div>
            <div class="col col-4-of-12">
              <a href="images/briteSites/4.jpg" data-lightbox="image-4">
                <img src="images/briteSites/4Thumb.jpg" />
              </a>
            </div>
            <div class="col col-4-of-12">
              <a href="images/briteSites/5.jpg" data-lightbox="image-5">
                <img src="images/briteSites/5Thumb.jpg" />
              </a>
            </div>
            <div class="col col-4-of-12">
              <a href="images/briteSites/6.jpg" data-lightbox="image-6">
                <img src="images/briteSites/6Thumb.jpg" />
              </a>
            </div>
            <div class="col col-4-of-12">
              <a href="images/briteSites/7.jpg" data-lightbox="image-7">
                <img src="images/briteSites/7Thumb.jpg" />
              </a>
            </div>
            <div class="col col-4-of-12">
              <a href="images/briteSites/8.jpg" data-lightbox="image-8">
                <img src="images/briteSites/8Thumb.jpg" />
              </a>
            </div>
            <div class="col col-4-of-12">
              <a href="images/briteSites/9.jpg" data-lightbox="image-9">
                <img src="images/briteSites/9Thumb.jpg" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script type="text/javascript" src="scripts/lightbox.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
