<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Brite Bikes | Trending</title>
    <link rel="stylesheet" type="text/css" href="styles/main.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="scripts/slideout.min.js"></script>
  </head>
  <body class="overflow-enable">
    <div id="slideout">
      <div class="side-nav">
        <header>
          <p class="light-styles">Brite Bikes</p>
        </header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/cycle">Cycle</a></li>
          <li><a href="/dangers">Dangers</a></li>
          <li><a href="/rides">Rides</a></li>
          <li class="active"><a href="/chat">Friends</a></li>
          <li><a href="/briteSites">BriteSites</a></li>
        </ul>
      </div>
    </div>
    <nav class="main-nav">
      <div class="nav-button">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <h1>Brite Bikes</h1>
    </nav>
    <div class="wrapper" id="panel">
      <div class="main">
        <h2>Chat</h2>
        <div class="grid">
          <div class="row">
            <div class="col col-2-of-4 center">
              <img src="images/icons/friends.png" />
            </div>
          </div>
          <div class="row">
            <div class="col center">
              <ul class="messages">
                <li class="message">
                  <p><span class="sender">Bikeman -</span>Yeah, if you are here for 7:30AM</p>
                </li>
                <li class="message">
                  <p><span class="sender">CycleGuru -</span>Of course!</p>
                </li>
                <li class="message">
                  <p><span class="sender">Wheelz -</span>See ya tomorrow then!</p>
                </li>
                <li class="message">
                  <p><span class="sender">Roadman -</span>Be careful!</p>
                </li>
              </ul>
            </div>
            <div class="col center">
              <div class="form-group">
                <input type="text" class="form-item" id="m" name="<%= user.local.username %>" placeholder="Message" />
                <button class="btn-wide" id="send">Send message!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
