<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Brite Bikes | Cycle</title>
    <link rel="stylesheet" type="text/css" href="styles/main.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="scripts/transit.min.js"></script>
    <script src="scripts/slideout.min.js"></script>
  </head>
  <body>
    <div id="slideout">
      <div class="side-nav">
        <header>
          <p class="light-styles">Brite Bikes</p>
        </header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li class="active"><a href="/cycle">Cycle</a></li>
          <li><a href="/dangers">Dangers</a></li>
          <li><a href="/rides">Rides</a></li>
          <li><a href="/chat">Chat</a></li>
          <li><a href="/briteSites">BriteSites</a></li>
        </ul>
      </div>
    </div>
    <nav class="main-nav">
      <div class="nav-button">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <h1>Brite Bikes</h1>
    </nav>
    <div class="wrapper" id="panel">
    <div class="main">
        <div class="map" id="map"></div>
    </div>
    <div class="cycle-ui">
      <div class="top-panel">
        <a class="view-change" href="#"><img id="view-changer" src="images/icons/minimize.png"></a>
      </div>
      <div class="panel">
        <h3 id="timer">00:00:00</h3>
        <button id="toggleCycle" class="btn-wide">Start!</button>
      </div>
    </div>
    <div class="overlay"></div>
    <div class="popup">
      <h3>This App requires your location!</h3>
      <p>Please allow us to access your location</p>
      <button class="btn-wide" id="giveLocation">Give Location</button>
    </div>
    <div class="logo-popup">
      <img src="images/logoLarge.png"/>
      <button id="startCycle">Start</button>
    </div>
  </div>
    <!-- scripts -->
    <script type="text/javascript" src="scripts/main.js"></script>
    <script type="text/javascript" src="scripts/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuZZhp1aRjXHJtfMmGVrnFLXd0XYuKLc8&callback=initMap"></script>
  </body>
</html>
