<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Brite Bikes | Index</title>
    <link rel="stylesheet" type="text/css" href="styles/main.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body class="overflow-enable">
    <nav class="main-nav">
      <h1>Brite Bikes</h1>
    </nav>
    <div class="main">
      <h2>Hey, <%= user.local.username %></h2>
      <div class="grid">
        <div class="row">
          <div class="col col-2-of-4">
            <a href="/profile">
              <img src="images/icons/profile.png" />
              <p>Profile</p>
            </a>
          </div>
          <div class="col col-2-of-4">
            <a href="/cycle">
              <img src="images/icons/cycle.png" />
              <p>Cycle</p>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col col-2-of-4">
            <a href="/dangers">
              <img src="images/icons/danger.png" />
              <p>Dangers</p>
            </a>
          </div>
          <div class="col col-2-of-4">
            <a href="/rides">
              <img src="images/icons/trending.png" />
              <p>Rides</p>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col col-2-of-4">
            <a href="/chat">
              <img src="images/icons/friends.png" />
              <p>Chat</p>
            </a>
          </div>
          <div class="col col-2-of-4">
            <a href="/briteSites">
              <img src="images/icons/social.png" />
              <p>BriteSites</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
