<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Brite Bikes | Trending</title>
    <link rel="stylesheet" type="text/css" href="styles/main.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="scripts/slideout.min.js"></script>
    <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;border-color:#999;width:100%;}
      .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 0px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
      .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 0px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#01cdd6;}
      .tg .tg-yw4l{vertical-align:top}
    </style>
  </head>
  <body>
    <div id="slideout">
      <div class="side-nav">
        <header>
          <p class="light-styles">Brite Bikes</p>
        </header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/cycle">Cycle</a></li>
          <li><a href="/dangers">Dangers</a></li>
          <li class="active"><a href="/rides">Rides</a></li>
          <li><a href="/chat">Chat</a></li>
          <li><a href="/briteSites">BriteSites</a></li>
        </ul>
      </div>
    </div>
    <nav class="main-nav">
      <div class="nav-button">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <h1>Brite Bikes</h1>
    </nav>
    <div class="wrapper" id="panel">
      <div class="main">
        <h2>Previous Rides</h2>
        <div class="grid">
          <div class="row">
            <div class="col col-4-of-4 center">
              <table class="tg">
              <tr>
                <th class="tg-yw4l">Date</th>
                <th class="tg-yw4l">Distance</th>
                <th class="tg-yw4l">Average Speed</th>
                <th class="tg-yw4l">Time taken</th>
              </tr>
              <tr>
                <td class="tg-yw4l">22/02/17</td>
                <td class="tg-yw4l">5.4 Miles</td>
                <td class="tg-yw4l">16.5 Mph</td>
                <td class="tg-yw4l">00:19:16</td>
              </tr>
              <tr>
                <td class="tg-yw4l">04/03/17</td>
                <td class="tg-yw4l">2.6 Miles</td>
                <td class="tg-yw4l">13 Mph</td>
                <td class="tg-yw4l">00:10:18</td>
              </tr>
              <tr>
                <td class="tg-yw4l">09/03/17</td>
                <td class="tg-yw4l">7.8 Miles</td>
                <td class="tg-yw4l">15.5 Mph</td>
                <td class="tg-yw4l">00:39:51</td>
              </tr>
              <tr>
                <td class="tg-yw4l">15/03/17</td>
                <td class="tg-yw4l">2.9 Miles</td>
                <td class="tg-yw4l">16.4 Mph</td>
                <td class="tg-yw4l">00:08:51</td>
              </tr>
              <tr>
                <td class="tg-yw4l">18/03/17</td>
                <td class="tg-yw4l">7.2 Miles</td>
                <td class="tg-yw4l">14.8 Mph</td>
                <td class="tg-yw4l">00:37:51</td>
              </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
