// variables
$primaryColor: #01cdd6;
$primaryDarker: #019ca3;
// nav button animation/styles
.nav-button {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    margin-left: 8px;
    margin-top: 8px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.75s;
}
.change {
  .bar1 {
    -webkit-transform: rotateY(180deg)(0);
    transform: rotateY(180deg);
    background-color: $primaryColor;
  }
  .bar2 {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    background-color: $primaryColor;
  }
  .bar3 {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: $primaryColor;
  }
}
// on click transitions
.main-nav {
  transition: all 0.75s;
}
.sidebar-show {
  background-color: #fff !important;
  color: $primaryColor !important;
  h1 {
    color: $primaryColor !important;
  }
}
// slideout styles
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  z-index: 0;
  display: none;
  -webkit-box-shadow: inset -2px 0px 3px 0px rgba(0,0,0,0.4);
-moz-box-shadow: inset -2px 0px 3px 0px rgba(0,0,0,0.4);
box-shadow: inset -2px 0px 3px 0px rgba(0,0,0,0.4);
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
// inside slideout styles
.side-nav {
  margin-top: 70px;
  header {
    width: 90%;
    margin: auto;
    background: #fff;
	  border-bottom: 3px solid transparent;
    padding: 10px 0px;
    // gradient colour
	  -moz-border-image: -moz-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(1,203,214,1) 50%, rgba(255,255,255,0.4) 100%);
	  -webkit-border-image: -webkit-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(1,203,214,1) 50%, rgba(255,255,255,0.4) 100%);
	  border-image: linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(1,203,214,1) 50%, rgba(255,255,255,0.4) 100%);
    //background: -moz-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(1,203,214,1) 50%, rgba(255,255,255,0.4) 100%);
	  border-image-slice: 1;
    p {
      font-weight: 100;
      font-size: 25px;
      margin: 0;
      text-align: center;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    li {
      height: 25px;
      padding: 10px;
      margin-top: 10px;
      font-size: 20px;
      text-align: center;
      border-radius: 3px;
      box-shadow: rgba(219, 219, 219, 1) 0px 3px 8px 0px;
      color: rgba(0, 0, 0, 0.7);
      transition: all 0.75s;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    li:hover {
      color: #12acc2;
      box-shadow: 0px 0px 23px 0px rgba(1,203,214,1);
    }
  }
}

.active {
  color: #12acc2 !important;
  box-shadow: 0px 0px 23px 0px rgba(1, 203, 214, 1) !important;
}
