// imports
@import "imports/normalize.scss";
@import "imports/waffleGrid.css";
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:700|Lato');
// variables
$primaryColor: #01cdd6;
$primaryDarker: #019ca3;
// mixins
@mixin titleTypog($size) {
  font-family: 'Archivo Narrow', Arial;
  margin: 0;
  font-size: $size;
  text-transform: capitalize;
}
@mixin bodyTypog($size) {
  font-family: 'Lato', Arial;
  font-size: $size;
}
@mixin removeLinkStyles() {
  text-decoration: none;
  color: inherit;
}
// styles
body {
  overflow: hidden;
}
h1 {
  @include titleTypog(48px);
  text-align: center;
  margin-bottom: 10px;
  span {
    img {
      margin-bottom: -3px;
    }
  }
}
h2 {
  @include titleTypog(35px);
  text-align: center;
}
p {
  @include bodyTypog(20px);
}
img {
  max-width: 100%;
}
// Nav styles
nav {
  background-color: $primaryColor;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  z-index: 150;
  //
  position: fixed;
  width: 100%;
  top: 0;
  h1 {
    margin: 0;
    padding: 5px 0px;
    color: #fff;
    font-size: 40px;
  }
}
.vert-align {
  padding: 120px 0px;
}
.background-image {
  position: absolute;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  img {
    height: 600px;
    margin-top: 40px;
    margin-right: -80px;
  }
}
.btn-wide {
  @include bodyTypog(20px);
  width: 100%;
  text-align: center;
  border: none;
  background-color: $primaryColor;
  color: #fff;
  margin-top: 20px;
  padding: 5px 0px;
  opacity: 1;
  transition: all 0.75s ease;
}
.login {
  margin-top: 10px;
  .form-group {
    margin-top: 10px;
    label {
      float: left;
    }
    .form-item {
      @include bodyTypog(20px);
      text-align: center;
      width: 100%;
      height: 29px;
      padding: 3px 0px;
      background-color: rgba(0,0,0,0);
      border: none;
      border-bottom: 2px solid $primaryColor;
      display: block;
      margin-top: 10px;
      transition: all 0.75s ease;
    }
    .form-item:focus {
      height: 50px;
    }
  }
  a {
    text-align: center;
    padding: 20px;
    display: block;
  }
}
.alert {
  text-align: center;
  margin-top: 10px;
  background-color: $primaryColor;
  p {
    padding: 20px;
    margin: 0;
  }
}
.home {
  margin-top: 75px;
}
.main {
  h2 {
    font-size: 30px;
  }
  .col {
    text-align: center;
    a {
      @include removeLinkStyles();
    }
    img {
      height: 100px;
      transition: all 0.75s ease;
    }
    img:hover {
      height: 125px;
    }
    img:active {
      height: 125px;
    }
    p {
      margin: 0;
    }
  }
}
.map {
  height: 500px;
  margin-top: -20px;
}
.overlay {
  background-color: rgba(0,0,0,0.8);
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 5;
}
.popup {
  width: 200px;
  padding: 25px;
  position: absolute;
  z-index: 6;
  top: 200px;
  left: calc(50% - 125px);
  background-color: #fff;
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
  text-align: center;
}
.logo-popup {
  width: 250px;
  padding: 25px;
  position: absolute;
  top: calc(50% - 220px);
  left: calc(50% - 150px);
  z-index: 6;
  display: none;
  img {
    max-width: 100%;
  }
  button {
    background-color: $primaryColor;
    border: 2px solid $primaryDarker;
    width: 100px;
    @include bodyTypog(20px);
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: 7;
    top: 53%;
    left: calc(50% - 53px);
    margin-top: 20px;
    padding: 5px 0px;
    cursor: pointer;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    transition: all 0.75s ease;
  }
  button:active {
    color: #000;
    background-color: #fff;
  }
  button:hover {
    color: #000;
    background-color: #fff;
  }
}

.cycle-ui {
  width: 300px;
  margin: auto;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: calc(50% - 150px);
  text-align: center;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
  transform: translateY(145px);
  transition: all 0.75s ease;
  .top-panel {
    background-color: #222222;
    color: #fff;
    width: 100%;
    height: 25px;

    img {
      height: 7px;
      width: 30px;
      float: right;
      position: relative;
      top: 10px;
      right: 10px;
    }
    img:hover ~ .cycle-ui {
        transform: translate(0px);
    }
  }
  .panel {
    padding: 35px;
    height: 75px;
    h3 {
      margin: 0;
    }
  }
}
